IoT-IMU-Node-RED/Iot-flows.json
[
    {
        "id": "3f59ad1f848847bf",
        "type": "mqtt in",
        "z": "93d7d386ad906e5f",
        "name": "Node-Sub",
        "topic": "sensor1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b6494bf324dc4470",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "05253856ddb7d8ac",
                "582e7228efeec111"
            ]
        ]
    },
    {
        "id": "05253856ddb7d8ac",
        "type": "split",
        "z": "93d7d386ad906e5f",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "582e7228efeec111",
        "type": "function",
        "z": "93d7d386ad906e5f",
        "name": "Extrax1",
        "func": "var outputMsgs = [];\nvar words = msg.payload.split(\",\");\n// for (var w in words) {\n//     outputMsgs.push({ payload: words[w] });\n//  }\nvar text = { payload: words[0] };\nvar accx = { payload: words[1] };\nvar accy = { payload: words[2] };\nvar accz = { payload: words[3] };\nvar gyrox = { payload: words[4] };\nvar gyroy = { payload: words[5] };\nvar gyroz = { payload: words[6] };\n// var out7 = { payload: words[7] };\nreturn [accx, accy, accz, gyrox, gyroy, gyroz];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "dc8c1a544e5d054c",
                "11dbd3299518a2dc",
                "db28527f1995ea3d"
            ],
            [
                "701e22f6b6d89691",
                "12947342af2887e5",
                "3b88359673e778be"
            ],
            [
                "4d2a63447a04406b",
                "6a700b94e4945a6c",
                "8358be5c055d2cd5"
            ],
            [
                "03770943bf5b0886",
                "99442b9bb65d3d21",
                "16a87ab2cafbf5db"
            ],
            [
                "f4582acc9fcdf523",
                "7804686d71a76c1d",
                "0f7a39d3204d89b3"
            ],
            [
                "549c883b57d8e198",
                "ea62f7ded1aaded9",
                "c3ce7391b9cca130"
            ]
        ]
    },
    {
        "id": "dc8c1a544e5d054c",
        "type": "debug",
        "z": "93d7d386ad906e5f",
        "name": "AccX",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "701e22f6b6d89691",
        "type": "debug",
        "z": "93d7d386ad906e5f",
        "name": "AccY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "4d2a63447a04406b",
        "type": "debug",
        "z": "93d7d386ad906e5f",
        "name": "AccZ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "03770943bf5b0886",
        "type": "debug",
        "z": "93d7d386ad906e5f",
        "name": "GyroX",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4582acc9fcdf523",
        "type": "debug",
        "z": "93d7d386ad906e5f",
        "name": "GyroY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "549c883b57d8e198",
        "type": "debug",
        "z": "93d7d386ad906e5f",
        "name": "GyroZ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "ce85ab19d67a4932",
        "type": "inject",
        "z": "93d7d386ad906e5f",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,1,2,3,4,5,6",
        "payloadType": "str",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "582e7228efeec111"
            ]
        ]
    },
    {
        "id": "11dbd3299518a2dc",
        "type": "ui_gauge",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "762a9c64e9042f0e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AccX",
        "label": "units",
        "format": "{{value}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "12947342af2887e5",
        "type": "ui_gauge",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "d45b44600d92c5d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AccY",
        "label": "units",
        "format": "{{value}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "6a700b94e4945a6c",
        "type": "ui_gauge",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "18af62378bfc9340",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AccZ",
        "label": "units",
        "format": "{{value}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "99442b9bb65d3d21",
        "type": "ui_gauge",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "3f7ab6be951f07ef",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GyroX",
        "label": "units",
        "format": "{{value}}",
        "min": "-500",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "7804686d71a76c1d",
        "type": "ui_gauge",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "67da9534adb32455",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GyroY",
        "label": "units",
        "format": "{{value}}",
        "min": "-500",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "ea62f7ded1aaded9",
        "type": "ui_gauge",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "78825f875df1d4cd",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "GyroZ",
        "label": "units",
        "format": "{{value}}",
        "min": "-500",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "db28527f1995ea3d",
        "type": "ui_chart",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "762a9c64e9042f0e",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "AccX",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-3",
        "ymax": "3",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3b88359673e778be",
        "type": "ui_chart",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "d45b44600d92c5d7",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "AccY",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-3",
        "ymax": "3",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8358be5c055d2cd5",
        "type": "ui_chart",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "18af62378bfc9340",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "AccZ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-3",
        "ymax": "3",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "16a87ab2cafbf5db",
        "type": "ui_chart",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "3f7ab6be951f07ef",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "GyroX",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-500",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0f7a39d3204d89b3",
        "type": "ui_chart",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "67da9534adb32455",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "GyroY",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-500",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c3ce7391b9cca130",
        "type": "ui_chart",
        "z": "93d7d386ad906e5f",
        "name": "",
        "group": "78825f875df1d4cd",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "GyroZ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-500",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b6494bf324dc4470",
        "type": "mqtt-broker",
        "name": "hiveMqtt-pub",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "762a9c64e9042f0e",
        "type": "ui_group",
        "name": "AccelerationX",
        "tab": "4b11d5cd7d4d9975",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d45b44600d92c5d7",
        "type": "ui_group",
        "name": "accelerationY",
        "tab": "4b11d5cd7d4d9975",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18af62378bfc9340",
        "type": "ui_group",
        "name": "accelerationZ",
        "tab": "4b11d5cd7d4d9975",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f7ab6be951f07ef",
        "type": "ui_group",
        "name": "GyroScopeX",
        "tab": "4b11d5cd7d4d9975",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "67da9534adb32455",
        "type": "ui_group",
        "name": "GyroScopeY",
        "tab": "4b11d5cd7d4d9975",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78825f875df1d4cd",
        "type": "ui_group",
        "name": "GyroScopeZ",
        "tab": "4b11d5cd7d4d9975",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b11d5cd7d4d9975",
        "type": "ui_tab",
        "name": "IMU",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]